.side-bar {
    height: 100vh;
    border-right: 1px solid #EFEFEF;
    width: 20vw;
    min-width: 200px;

    .top {
        .primary-btn-light .icon {
            path {

                fill: var(--primary700);

            }
          
        }
        .primary-btn-light:hover{
            .icon{

                path {
    
                    fill:#FFFFFF;
    
                }
            }
        }
        .primary-btn:hover{
            .icon{

                path {
    
                    fill: var(--primary500);
    
                }
            }
        }
    }
    .bottom {
        .danger-btn-light .icon {
            path {

                fill: var(--Error700);

            }
          
        }
        .danger-btn-light:hover{
            .icon{

                path {
    
                    fill:#FFFFFF;
    
                }
            }
        }
   
    }

}