.card-body{
    
.p-inputtextarea{
    width: 100% ;
    font-size: 1.5rem;
    &:disabled{
        border: none;
    }
}
}
.icon{
 
    &:hover{
        cursor: pointer;
        path{
            
            fill: var(--primary700);
           
        }
     }
}