@layer bootstrap, primeng ;
@import "bootstrap/scss/bootstrap.scss" layer(bootstrap);
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.min.css";
@import "primeicons/primeicons.css";


* {
    box-sizing: border-box;
    font-family: 'Poppins' ;
 
}



html,
body {
    margin: 0;
   // font-size: calc(3px + 0.4vw);
   // font-size: 10px;
 font-size: max(calc(3px + 0.3vw), 9px);
 color: var(--textColor);
    font-family: sans-serif;
}

@font-face {
    font-family: "Poppins";
    src: url("../.../../src/assets/fonts/Poppins-Medium.ttf") format('truetype');
  
  }
  .rtl {
    direction: rtl;
  }
  .ltr {
    direction: ltr;
  
  }



:root {

    --textColor: #3D3D3D;
    --primary: #2563DC;
    --primary100: #EEF2FC;
    --primary200: #CAD9F6;
    --primary500: #2563DC;
    --primary700: #14367B;
    --Neutral200:  #FFFFFF;
    --Neutral600: #5C5C5C;
    --Warning100: #FFF6EB;
    --Warning200: #FFE4C2;
    --Warning700: #8F4F00;
    --Error100: #FDF0EC;
    --Error200: #FAD0C6;
    --Error700: #81290E;



}

@mixin border($color) {
    border: solid 1px $color;
    border-radius: .8rem;
    padding: 1.1rem 1.2rem 1.1rem 1.2rem;
    box-shadow: 0px 4px 5px 0px #00000000;

}

.primary-border {
    @include border(var(--primary200))
}

.warning-border {
    @include border(var(--Warning200))
}

.error-border {
    @include border(var(--Error200))
}

.title1 {
    color: var(--textColor);
    font-size: 3.1rem;
    font-weight: 500;
    line-height: 2.6rem;
}

.title2 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.6rem;
}

.text-primary700 {
    color: var(--primary700);
}

.text-warning700 {
    color: var(--Warning700);
}

.text-error700 {
    color: var(--Error700700);
}

.bg-primay100 {
    background-color: var(--primary100);
}

.bg-warning100 {
    background-color: var(--Warning100);
}

.bg-error100 {
    background-color: var(--Error100);
}

@mixin button {
    border: none;
    border-radius: .8rem;
    padding: 1rem 3rem 1rem 3rem;
    margin: 0 .1rem;
    font-size: 1.4rem;
    font-weight: 500;
}

.primary-btn {



    background-color: var(--primary);
    color: #ffffff;
    @include button();

    transition: background-color 0.3s ease;

    &:hover {
        background-color: #ffffff;
        color: var(--primary);
        border: solid 1px var(--primary);
        cursor: pointer !important;

    }

    &:disabled {
        opacity: .5;
        pointer-events: none;
    }
}

.primary-btn-light {


    background-color: var(--primary100);
    color: var(--primary700);
    @include button();

    transition: background-color 0.3s ease;

    &:hover {
        background-color: var(--primary500);
        color: #FFFFFF;
        border: solid 1px var(--primary500);
        cursor: pointer !important;

    }

    &:disabled {
        opacity: .5;
        pointer-events: none;
    }
}
.danger-btn-light {


    background-color: var(--Error200);
    color: var(--Error700);
    @include button();

    transition: background-color 0.3s ease;

    &:hover {
        background-color: var(--Error700);
        color: #FFFFFF;
        border: solid 1px var(--Error700);
        cursor: pointer !important;

    }

    &:disabled {
        opacity: .5;
        pointer-events: none;
    }
}

.profile-img{
    width: 4.4rem;
    height: 4.4rem;
    img{
        border-radius: 50%;
        width: 100%;
        height: 100%;
    }
}

.icon{
    width: 2.4rem;
    height: 2.4rem;
    // path{

    //     fill: blue;
      
    // }
    // &:hover{
    //     path{
            
    //         fill: red;
    //         cursor: pointer;
    //     }
    //  }
}
.h-90vh{
    height: 90vh;
}
.p-inputtext{
    width: 100%;
    font-size: 1.2rem;
    color: var(--Neutral600);
    font-weight: 400;
    line-height: 19.5px;
}
.p-password{
    width: 100%;
    font-size: 2rem;
    
    .p-icon{
    transform: scale(1.8);
    margin-right: .5em;

    }
}
.p-float-label{
    font-size: 1.6rem;
}
.p-button-label{
    font-size: 1.6rem !important;
}
.font16{
    font-size: 1.6rem;
}