.board-container {

  border-top: 1px solid #EFEFEF;
  min-width: 1000px;


}

:host ::ng-deep {
  .drop-column {

    &.p-draggable-enter {
      border-color: var(--textColor);

    }
  }

  [pDraggable] {
    cursor: move;
  }
}